<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Alina/Downloads/MindtekCucumberAutomationBatch6 (1)Project/RestAssuredTestNgMintekAutomation">
        <classes>
            <class name="calls.PostAnOrder"/>
        </classes>
    </test>
</suite>